* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.li-navbar,
.button-navbar {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

.li-navbar {
    color: #03045E;
    font-size: 16px;
    margin-left: 40px;
}

.button-navbar {
    color: white;
    background-color: #03045E;
    padding: 11px 35px;
    border-radius: 5px;
    margin-left: 40px;
}

.button-navbar:hover {
    background-color: #0004f3;
}

.li-navbar:hover {
    color: #0004f3;
}

.menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-top: 45px;
    margin-right: 224px;
}

.First-menu {
    display: flex;
    justify-content: space-between;
    background-color: #F7F8FD;
}

.Logo {
    padding-top: 30px;
    margin-left: 224px;
    background-color: #F7F8FD;
}

.first-post {
    display: flex;
    padding-top: 185px;
    background-color: #F7F8FD;
    justify-content: center;
    padding-bottom: 100px;
    margin-bottom: 150px;
}

.first-text {
    padding-top: 65px;

}

.first-title {
    font-size: 48px;
    line-height: 68px;
    color: #03045E;
    font-weight: bold;
    width: 556px;
    margin-bottom: 36px;
}

.first-subtitle {
    width: 556px;
    color: rgba(3, 4, 94, 0.5);
    font-size: 16px;
    margin-bottom: 36px;
}

.first-button {
    background-color: #0098FF;
    justify-content: center;
    align-items: center;
    padding: 17px 38px;
    border-radius: 5px;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.first-button:hover {
    background-color: #003f69;
    text-decoration: none;

}

.first-img {
    padding-left: 40px;
}

/* Second Post */
.second-post {
    display: flex;
    justify-content: space-between;
}

.second-search {
    margin-left: 80px;
    margin-right: 140px;
}

.second-text {
    color: #03045E;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}

.second-label {
    display: flex;
}

.second-label-text {
    background: #F6F6F6;
    border-radius: 5px;
    width: 466px;
    color: #b8b8b8;
    padding-left: 20px;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;


}

.second-label-button {
    background: #0098FF;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-label-button:hover {
    background: #003f69;
}

.second-domains {
    display: flex;
}

.second-column-f {
    margin-right: 120px;
}

.second-column-s {
    margin-right: 120px;
}

.second-column-t {
    margin-right: 100px;
}

.second-title-domains {
    color: #0098FF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}

.second-subtitle-domains {
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 32px;
}

.br {
    background-color: #b8b8b859;
    width: 1px;
    border-radius: 1px;
    height: 150px;
    margin-right: 70px;
}

/* Third-post */
.third-post {
    padding-top: 150px;
    margin-top: 150px;
    background: #F6F6F6;
}

.third-main-text {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Ubuntu';
    color: #03045E;
    display: flex;
    justify-content: center;
}

.third-columns {
    display: flex;
    justify-content: center;
}

.third-s-columns {
    text-align: center;
    max-width: 400px;
}

.third-y-column {
    text-align: center;
    max-width: 400px;
    margin: 0 30px;
}

.third-column-title {
    font-family: 'Ubuntu';
    color: #03045E;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}

.third-column-subtitle {
    color: #03045E;
    font-size: 16px;
    font-family: 'Poppins';
    margin-bottom: 80px;
    font-weight: 400;
}

/* fourth post */
.fourth-post {
    padding-top: 150px;
}

.fourth-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #03045E;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.fourth-column-all {
    display: flex;
    justify-content: center;
}

.fourth-column-f,
.fourth-column-s,
.fourth-column-t {
    max-width: 365px;
    background: #F6F6F6;
    margin-bottom: 40px;
}

.fourth-column-s {
    margin-left: 30px;
    margin-right: 30px;
}

.fourth-subtitle-column {
    color: #03045E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    width: 327px;
    padding-left: 40px;
    margin-bottom: 30px;

}

.fourth-title-collumn {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #03045E;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.fourth-smalltext-column {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #03045E;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.fourth-signs {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.fourth-sign {
    width: 15px;
    height: 8px;
}

.fourth-long-sign {
    width: 30px;
    height: 8px;
    margin: 0 10px;
}

/* Fifth Post */
.fifth-post {
    background: #0098FF;
    display: flex;
    justify-content: center;
}

.fifth-information {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.fifth-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.fifth-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

/* Sixth-post */
.sixth-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #03045E;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 60px;
}

.sixth-columns {
    display: flex;
    justify-content: center;
}

.sixth-column {
    width: 320px;
}

.sixth-column-title {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #0098FF;
    margin-bottom: 16px;
    margin-top: 40px;
}

.sixth-column-price {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #03045E;
    margin-bottom: 50px;
}

.sixth-column-points {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #03045E;
}

.sixth-br {
    background-color: rgb(241, 241, 241);
    width: 320px;
    height: 1px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.sixth-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.sixth-button-buy {
    padding: 11px 35px;
    text-decoration: none;
    background-color: #03045E;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 50px;
}

.sixth-button-buy:hover {
    background-color: #0003d1;
}

.sixth-column:hover {
    background-color: #0098FF;
}

.sixth-column:hover .sixth-column-points {
    color: white;
}

.sixth-column:hover .sixth-column-price {
    color: white;
}

.sixth-column:hover .sixth-column-title {
    color: white;
}

/* Seventh Post */
.seventh-post {
    margin-top: 150px;
    padding-top: 100px;
    background-color: #F6F6F6;
    display: flex;
    padding-bottom: 100px;
    width: 100%;
}

.Seventh-logo {
    margin-bottom: 40px;
}

.seventh-one-column-text {
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #03045E;
}

.seventh-column-one {
    padding-left: 230px;
}

.seventh-column-two {
    margin-left: 100px;
}

.seventh-column-three {
    margin-left: 100px;
}

.seventh-column-four {
    margin-left: 100px;
}

.seventh-title-column {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.seventh-point-column {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #03045E;
}

.seventh-title-column-follow {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 30px;
}

.sevents-folow-icon {
    margin-left: 28px;
}

/* Finish */
.finish {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.finish-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #03045E;
    margin-bottom: 45px;
    margin-left: 225px;
    margin-right: 225px;
}

.sixth-one-swap {
    display: flex;
}

.sixth-two-swap {
    display: flex;
}

.seventh-wrapper {
    display: flex;
}

.fifth-one-column,
.fifth-two-column {
    display: flex;


}



@media screen and (max-width:1360px) {
    .menu {
        display: none;
    }

    .Logo {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 50px;
    }

    .first-img {
        display: none;

    }

    .first-text {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .second-post {
        display: block;
    }

    .second-search {
        margin-left: 100px;
    }

    .second-domains {
        margin-top: 50px;
        margin-left: 100px;
    }

    .br {
        display: none;
    }

    .fourth-column-all {
        justify-content: space-around;
    }

    .sixth-one-swap {
        display: block;
    }

    .sixth-two-swap {
        display: block;
    }

    .seventh-column-one {
        padding-left: 0;
        margin-left: auto;
    }

    .seventh-column-four {
        margin-right: auto;
    }

    .finish-text {
        margin-left: 10%;
        margin-right: 10%;
        padding: 0;
    }
}


@media screen and (max-width:1170px) {
    .fourth-column-all {
        display: block;
        margin-bottom: 100px;
    }

    .fourth-column-f {
        margin-left: 100px;
        margin-right: auto;
    }

    .fourth-column-s {
        margin-left: auto;
        margin-right: auto;
    }

    .fourth-column-t {
        margin-left: auto;
        margin-right: 100px;
    }

    .fourth-signs {
        display: none;
    }

    .fifth-post {
        display: block;
    }

    .fifth-one-column,
    .fifth-two-column {
        justify-content: center;
        text-align: center;
    }

    .fifth-information {
        margin-left: auto;
        margin-right: auto;
    }

    .seventh-post {
        display: block;
    }

    .seventh-column-one,
    .seventh-column-two,
    .seventh-column-three,
    .seventh-column-four {
        margin: 0;
        padding: 0;
    }

    .seventh-column-one {
        margin-bottom: 100px;
    }

    .seventh-column-three {
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: 100px;
    }


    .seventh-post {
        padding-left: 100px;
    }

}

@media screen and (max-width:900px) {
    .fifth-title {
        font-size: 40px;

    }

    .fifth-subtitle {
        font-size: 15px;
    }



    .second-search {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:560px) {

    .seventh-title-column,
    .seventh-point-column {
        display: flex;
        justify-content: center;

    }

    .seventh-one-column-text {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .Seventh-logo {
        padding-left: 80px;

    }

    .sixth-two-swap {
        display: block;
    }

    .sixth-one-swap {
        display: block;
    }

    .sixth-columns {
        display: block;
    }

    .sixth-column {
        margin-left: auto;
        margin-right: auto;
    }

    .fourth-column-f,
    .fourth-column-s,
    .fourth-column-t {
        margin: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .third-columns {
        display: block;
    }

    .third-s-columns,
    .third-y-column {
        margin-left: auto;
        margin-right: auto;
    }

    .second-domains {
        display: block;
    }

    .second-column-f,
    .second-column-s,
    .second-column-t {
        display: flex;
        justify-content: space-around;
    }

    .second-search {
        margin-left: 50px;
        margin-right: 50px;
    }

    .second-label-text {
        font-size: 14px;
    }

    .second-label-button {
        font-size: 14px;
    }

    .seventh-post,
    .seventh-wrapper {
        display: block;
    }

    .seventh-title-column {
        margin-top: 100px;
    }

    .seventh-post {
        margin: 0;
        padding: 0;
    }

    .Seventh-logo {
        margin-top: 100px;
    }

    .first-title {
        font-size: 28px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-subtitle {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .third-column-subtitle {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .seventh-title-column-follow {
        display: flex;
        justify-content: center;
    }

    .folows-seventh {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .seventh-column-three {
        margin-right: 0;
    }

    .fourth-title {
        display: flex;
        justify-content: center;
    }

    .fourth-title {
        font-size: 25px;
    }
}

@media screen and (max-width:400px) {
    .second-t-column {
        margin-left: 50px;
    }
}

@media screen and (max-width:375px) {

    .fourth-subtitle-column {
        font-size: 15px;
        width: 300px;
        padding-left: 0;
        display: flex;
        margin-left: auto;
        margin-right: auto;

    }

    .fourth-title-collumn {
        font-size: 18px;
    }

    .fourth-smalltext-column {
        font-size: 12px;
    }

    .fourth-column-f,
    .fourth-column-s,
    .fourth-column-t {
        max-width: 310px;
    }

    .second-t-column {
        margin-left: 50px;
    }
}